.page-link{
    text-decoration: none;
    width: 40px;
    border-radius: 8px;
    margin-left: 0.5px;
    color: white;
    background-color: black;
    border: #B39C21 solid 1px;
    font-size: 1.3rem;
    margin-right: 3px;
    display: block;
}
.page-link-s{
    text-decoration: none;
    width: 85px;
    border-radius: 8px;
    margin-left: 0.5px;
    color: white;
    background-color: black;
    border: #B39C21 solid 1px;
    font-size: 1.3rem;
    margin-right: 3px;
    display: block;
}

.page-link:hover{
    cursor: pointer;
    color: black;
    background-color: #B39C21;
    border-color:white ;
}

.page-link-s:hover{
    cursor: pointer;
    color: black;
    background-color: #B39C21;
    border-color:white ;
}

.actives{
    cursor: pointer;
    color: black;
    background-color: #B39C21;
    border-color:white ;  
}

.sr-only{
    width: 60px;
}

.swal-button{
    background-color: #B39C21;
    color: black;
}

.swal-button:not([disabled]):hover{
    background-color: black;
    border:#B39C21 solid 1px;
    color: white;
}

.buton_b{
    background-color: black;
    border-color:#B39C21 ;
    color: white;
    border-radius: 4px;
    margin: 10px 5px 0 5px;
    height: 36px;
    width: 100%;
    justify-content: center;
}

.buton_b:hover{
    cursor: pointer;
    color: black;
    background-color: #B39C21;
    border-color:white ;
}

.hide-lightbox{
    opacity: 0;
}

.buton_bs{
    background-color: black;
    border-color:#B39C21 ;
    color: white;
    border-radius: 4px;
    margin: 10px 5px 0 5px;
    height: 36px;
    width: 100%;
    justify-content: center;
}

.hide-lightboxs{
    opacity: 0;
}