.navigation{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #20232a;
    padding: 20px 10px;
}

.navbar a{
    display: block;
}

.bar_nav{
    display: block;
    cursor: pointer;
}
@media(min-width: 767px){
    .navbar {
        display: flex;
    }
   
    .navigation{
        display:flex;
       flex-direction: row;
    }

    .bar_nav{
        display: none;
    }
    
}

.navigation a{
  color: #fff;
  text-decoration: none;
}

.navigation .logo {
    font-size: 2.5rem;
    color:#fff;
    font-weight: bolder;
}

.navigation .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
}

.navigation .navbar a:hover{
    color: #B39C21;
}