

.card_container{
    border-radius: 4px;
    display: flex;
    height: 140px;
    border: 1px solid #B39C21;
   }

   .card_container img{
	width: 50%;
    height: 100%;
    border: 1px solid #B39C21;
    border-radius: 4px;
}

.card_info{
 margin-left: 3px;   
 width: 50%;
}
.card_info >h3{
    text-transform: capitalize;
    margin-left: 3px;
    color: white;
}

.card_info >p{
    text-transform: capitalize;
    margin-left: 3px;
    color: white;
}

.button_info{
    margin-bottom: 30px;
    display: block;
    background-color: #B39C21;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.button_info:hover{
    cursor: pointer;
    background-color: #DCBC10;
}
