.cards_container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    justify-self: center;
}


@media (min-width: 767px){
    .cards_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        justify-self: center;
    }
}

@media (min-width: 1100px){
    .cards_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
        padding: 5px;
    
    }
}



.cards{
    margin-top: 1px;
    background-image: url('./countries.png');
    background-size: 100%;
    background-color: black;
}

.filter_container{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    text-align: center;
}




.select_container{
    margin: 0 5px 0 5px;
    background-color: black;
    border-color:#B39C21 ;
    color: white;
    border-radius: 4px;
    height: 36px;
    width:  210px;
}

.buton_b{
    background-color: black;
    border-color:#B39C21 ;
    color: white;
    border-radius: 4px;
    margin: 10px 5px 0 5px;
    height: 36px;
    width: 50px;
}
.buton_b:hover{
    cursor: pointer;
    color: black;
    background-color: #B39C21;
    border-color:white ;
}
.loading{
    color: white;
    text-align: center;
    font-size: 40px;
}



